<div class="container">
<h2 align=center>Herzlich Wilkommen auf der Website der Hochschule Flensburg</h2>
  <p align=center class="container">
    Die Hochschule Flensburg befindet sich mit der zweiten Flensburger Hochschule, der Europa-Universität Flensburg etwas südlich des Flensburger Stadtzentrums im Stadtteil Sandberg auf dem Campusgelände. Die Fachhochschule ist eine von neun öffentlichen Hochschulen in Schleswig-Holstein. Die Anzahl der Studierenden hat sich in den vergangen zehn Jahren nahezu verdoppelt- von zirka 2000 auf mehr als 4100.
  </p>
  <ul>
    <li class="list-group-item-action list-group-item"  >
      <img src={{praesident.img}} height=120 align=right>
      <p>{{praesident.name}}, {{praesident.vorname}}</p>
      <p>{{praesident.bereich}}</p>
      <p>{{praesident.mail}}</p>
      <p>{{praesident.rang}}</p>
  </ul>


</div>