<div class="container">
    <h2 align=center>Institutsmitglieder</h2>
      
      <ul>
        <li *ngFor="let professor of professoren;let i=index" class="list-group-item-action list-group-item"  >
          <table width=100%>
        <tr>
          <td>Name:</td>
          <th>{{professor.name}}, {{professor.vorname}}</th>
          <td rowspan=5><img src={{professor.img}} height=120 align=right></td>
        </tr>
        <tr>
          <td>Bereich:</td>
          <td>{{professor.bereich}}</td>
        </tr>
        <tr>
          <td>E-Mail:</td>
          <td>{{professor.vorname}}.{{professor.name}}@hs-flensburg.de</td>
        </tr>
        <tr>
          <td>Raum:</td>
          <td>{{professor.raum}}</td>
        </tr>
      </table>
          <button *ngIf="login" class="btn btn-primary btn-sm" (click)="professorenService.onEdit(i)">Editieren</button> 
          <button *ngIf="login" class="btn btn-primary btn-sm" (click)="professorenService.onDelete(i)">Löschen</button>
      </ul>
    


 <ul *ngIf="login">
  <li class="list-group-item-action list-group-item">
    <h3>Neues Mitglied Hinzufügen</h3>   
  </li>
   <li class="list-group-item-action list-group-item">
      <input type="text" [(ngModel)]="professorenService.post.name" placeholder=Name>
    </li>
    <li class="list-group-item-action list-group-item">
      <input type="text" [(ngModel)]="professorenService.post.vorname" placeholder=Vorname >
    </li>
    <li class="list-group-item-action list-group-item">
      <input type="text" [(ngModel)]="professorenService.post.img" placeholder="Link zum Bild" >
    </li>
    <li class="list-group-item-action list-group-item">
      <input type="text" [(ngModel)]="professorenService.post.bereich" placeholder=Bereich >
    </li>
    <li class="list-group-item-action list-group-item">
      <input type="text" [(ngModel)]="professorenService.post.raum" placeholder=Raum >
    </li>
  <li class="list-group-item-action list-group-item">
    <button type=submit *ngIf="!professorenService.edit" (click)="onAddworker()" class="btn btn-primary btn-sm">Mitglied hinzufügen</button>
    <button *ngIf="professorenService.edit" (click)="onEditworker()" class="btn btn-primary btn-sm">Mitglied bearbeiten</button>
  </li>
 </ul>

</div>


