

<div class="container">
    <h2 align=center>Publikationen</h2>
      <ul>
        <li *ngFor="let publikation of publikationen;let i=index" class="list-group-item-action list-group-item"  >
          <table >
          <tr>
 
          <th colspan=2> {{publikation.forschungsprojekt}}</th>
          </tr>
          <tr>
          <td><b>Autor:</b></td><td> {{publikation.autor}}</td>
          </tr>
          <tr>
          <td><b>Ausgabe:</b></td><td> {{publikation.publikationsTyp}}</td>
          </tr>
          <tr>
          <td><b>Veröffentlichung:</b></td><td> {{publikation.jahr}}</td>
          </tr>
          <tr>
          <td><b>volumen:</b> </td> <td>{{publikation.volumen}}</td>
          </tr>
          <tr>
          <td><b>publisher:</b></td><td> {{publikation.publisher}}</td>
          </tr>
          <tr>
          <td><b>school:</b></td><td> {{publikation.school}}</td>
          </tr>
          <tr>
          <button *ngIf="login" class="btn btn-primary btn-sm" (click)="forschungService.onEdit(i)">Editieren</button> 
          <button *ngIf="login" class="btn btn-primary btn-sm" (click)="forschungService.onDelete(i)">Löschen</button>
          </tr>
          </table>
      </ul>

<!-- Input neuer Publikationen -->
 <ul *ngIf="!login">
  <li class="list-group-item-action list-group-item">
    <h3>Neue Publikation hinzufügen</h3>   
  </li>

  <!-- Dropdown Menu -->
   <li class="list-group-item-action list-group-item">
      <button class="btn dropdown-toggle" data-toggle="dropdown" (click)="dropDownOpened= !dropDownOpened">
      {{this.forschungService.post.publikationsTyp}}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" style="display:block;" *ngIf="dropDownOpened">
        <!-- dropdown menu links -->
        <li *ngFor="let option of options">
          
          <a  (click)="onClickOption(option)">{{option}}</a>

        </li>
      </ul>
    </li>
    <li  *ngIf="forschungService.post.publikationsTyp!='Publikations Typ'"class="list-group-item-action list-group-item">
      <input type="text" [(ngModel)]="forschungService.post.forschungsprojekt" placeholder="Publikationsname" >
    </li>

    <li *ngIf="forschungService.post.publikationsTyp!='Publikations Typ'" class="list-group-item-action list-group-item">
      <input type="text" [(ngModel)]="forschungService.post.autor" placeholder=Autor >
    </li>

    <li *ngIf="forschungService.post.publikationsTyp=='Magazin'||forschungService.post.publikationsTyp=='Masterthesis'||forschungService.post.publikationsTyp=='Buch'" class="list-group-item-action list-group-item">
      <input  type="month" [(ngModel)]="forschungService.post.jahr">
    </li>

    <li *ngIf="forschungService.post.publikationsTyp=='Buch'" class="list-group-item-action list-group-item">
      <input type="text" [(ngModel)]="forschungService.post.volumen" placeholder=Umfang >
    </li>

    <li *ngIf="forschungService.post.publikationsTyp!='Publikations Typ'" class="list-group-item-action list-group-item">
      <input type="text" [(ngModel)]="forschungService.post.publisher" placeholder=Publisher >
    </li>

    <li *ngIf="forschungService.post.publikationsTyp=='Magazin'||forschungService.post.publikationsTyp=='Masterthesis'" class="list-group-item-action list-group-item">
      <input  type="text" [(ngModel)]="forschungService.post.school" placeholder=Lehranstalt >
    </li>

    <li *ngIf="forschungService.post.publikationsTyp!='Publikations Typ'" class="list-group-item-action list-group-item">
      <input type="file" accept="application/pdf">
    </li>

  <li class="list-group-item-action list-group-item">
    <button (click)="onAddPublication()" class="btn btn-primary btn-sm">Publikation hinzufügen</button>
  </li>
 </ul>
</div>



