<div class="container">
    <h2 align=center>Projekte</h2>
      
      <ul>
        <li *ngFor="let projekt of projekte;let i=index" class="list-group-item-action list-group-item"  >
          <table width=100%  >
        <tr>
          <td valign=top width=100>Name:</td>
          <th>{{projekt.name}}</th>
       
        </tr>
        <tr>
          <td valign=top>Beschreibung:</td>
          <td align=left>{{projekt.beschreibung}}</td>
        </tr>
        <tr>
          <td valign=top>Beteiligte:</td>
          <td>
           
        
              <label *ngFor="let beteiligt of projekt.beteiligte" style="list-style-type:none;">
                {{beteiligt.vorname}} {{beteiligt.name}}
            </label>
          
              
          </td>
        </tr>
                <tr>
          <td valign=top>Fachbereich:</td>
          <td>{{projekt.bereich}}</td>
        </tr>
       </table>
          <button *ngIf="login" class="btn btn-primary btn-sm" (click)="projekteService.onEdit(i)">Editieren</button> 
          <button *ngIf="login && !projekteService.edit" class="btn btn-primary btn-sm" (click)="projekteService.onDelete(i)">Löschen</button>
       
      </ul>
    

 
 <ul *ngIf="login">
  <li class=" list-group-item">
    <h3>Neues Mitglied Hinzufügen</h3>   
  </li>
   <li class=" list-group-item">
      <input type="text" [(ngModel)]="projekteService.post.name" placeholder="Name">
    </li>
    <li class="list-group-item">
      <textarea type="text" [(ngModel)]="projekteService.post.beschreibung" placeholder="Beschreibung" ></textarea>
    </li>
    <li class="list-group-item">
              <label  style="display:inline" *ngFor="let beteiligt of projekteService.post.beteiligte;let i=index"><label>{{beteiligt.vorname}} {{beteiligt.name}}   </label><button class="btn btn-primary btn-xs" (click)="ondeletebeteiligt(i)">x</button></label>
              </li>
    <!--Dropdown zur Auswahl von Institutsmitgliedern-->
   <li class="list-group-item">
      <button class="btn dropdown-toggle" data-toggle="dropdown" (click)="dropDownOpened= !dropDownOpened">
Beteiligte Personen
        <span></span>
      </button>
      <ul class="dropdown-menu" style="display:block;" *ngIf="dropDownOpened">
        <!-- dropdown menu links -->
        <li *ngFor="let option of professoren;let i=index" >
         <button class="btn btn-primary btn-sm" (click)="onAddMitglied(option)"></button>
          <label>{{option.vorname}} {{option.name}}</label>
        </li>
      </ul>

      
    </li>
         

  
    <li class=" list-group-item">
      <input type="text" [(ngModel)]="projekteService.post.bereich" placeholder="Projektbereich" >
    </li>

  <li class=" list-group-item">
    <button *ngIf="!projekteService.edit" (click)="onAddProject()" class="btn btn-primary btn-sm">Projekt hinzufügen</button>
    <button *ngIf="projekteService.edit" (click)="onEditProject()" class="btn btn-primary btn-sm">Projekt bearbeiten</button>
  </li>
 </ul>
</div>


