
<!--Als Reflink die ersten 5 News auf die erste Seite bringen
<a href="">
Neuigkeiten

</a>-->


<div class="container">
    <h2 align=center>News</h2>
      
      <ul>
        <li *ngFor="let neuigkeit of sortData;let i=index" class="list-group-item-action list-group-item"  >
          <table width=100%  >
        <tr>
          <td valign=top width=110>Name:</td>
          <th valign=top>{{neuigkeit.name}}</th>
          <td rowspan=3><img src={{neuigkeit.img}} height=100 align=right></td>
       
        </tr>
        <tr>
          <td valign=top>Beschreibung:</td>
          <td align=left valign=top>{{neuigkeit.beschreibung}}</td>
        </tr>
        <tr>
          <td valign=bottom>{{neuigkeit.date}}</td>
        </tr>
       </table>
          <button *ngIf="login" class="btn btn-primary btn-sm" (click)="neuigkeitenService.onEdit(i)">Editieren</button> 
          <button *ngIf="login && !neuigkeitenService.edit" class="btn btn-primary btn-sm" (click)="neuigkeitenService.onDelete(i)">Löschen</button>
       
      </ul>



       <ul *ngIf="login">
  <li class=" list-group-item">
    <h3>Neue News Hinzufügen</h3>   
  </li>
   <li class=" list-group-item">
      <input type="text" [(ngModel)]="neuigkeitenService.post.name" placeholder=Name>
    </li>
    <li class=" list-group-item">
      <input type="text" [(ngModel)]="neuigkeitenService.post.beschreibung" placeholder=Beschreibung >
    </li>
    <li class=" list-group-item">
      <input type="text" [(ngModel)]="neuigkeitenService.post.img" placeholder="Link zum Bild" >
    </li>

  <li class=" list-group-item">
    <button type=submit *ngIf="!neuigkeitenService.edit" (click)="neuigkeitenService.onAddnews()" class="btn btn-primary btn-sm">News hinzufügen</button>
    <button *ngIf="neuigkeitenService.edit" (click)="neuigkeitenService.onEditnews()" class="btn btn-primary btn-sm">News bearbeiten</button>
  </li>
 </ul>
</div>

